%h2 Show only:
%nav
  %ul
    - [:all, :submitted, :assigned, :holded, :cancelled, :confirmed].each do |state|
      %li= link_to state.to_s.capitalize, params.merge(state: state)

%table
  %tr
    %th= t 'ticket.table.uid'
    %th= t 'ticket.table.subject'
    %th= t 'ticket.table.body'
    %th= t 'ticket.table.state'
    %th= t 'ticket.table.screenshots'
    %th= t 'ticket.table.actions'
  - @tickets.each do |ticket|
    %tr
      %td= link_to ticket.uid, ticket_path(ticket)
      %td= ticket.subject
      %td= ticket.body
      %td= ticket.state
      %td= image_thumbs ticket
      %td
        - if ticket.assignee?
          - if ticket.assignee == current_user
            = t 'ticket.info.assigned.me'
          - else
            = t 'ticket.info.assigned.to', name: ticket.assignee.name
        - else
          = link_to t('ticket.actions.assign'), assign_ticket_path(ticket)

= paginate @tickets
