= form_tag tickets_path, method: :post, multipart: true do |f|
  %div.label= t 'ticket.form.email'
  = text_field :ticket, :user_email
  %div.label= t 'ticket.form.name'
  = text_field :ticket, :user_name
  %div.label= t 'ticket.form.subject'
  = text_field :ticket, :subject
  %div.label= t 'ticket.form.body'
  = text_area :ticket, :body
  %div.label= t 'ticket.form.files'
  = file_field_tag "files[]", multiple: true
  = submit_tag t('ticket.form.send')
