%div.actions
  - if assigned_to_user? @ticket
    - case @ticket.state
    - when :assigned
      = link_to t('ticket.actions.hold'), hold_ticket_path(@ticket)
      = link_to t('ticket.actions.cancel'), cancel_ticket_path(@ticket)
      = link_to t('ticket.actions.complete'), complete_ticket_path(@ticket)
    - when :holded
      = link_to t('ticket.actions.cancel'), cancel_ticket_path(@ticket)
      = link_to t('ticket.actions.complete'), complete_ticket_path(@ticket)
  - elsif !@ticket.assignee?
    = link_to t('ticket.actions.assign'), assign_ticket_path(@ticket)

%h1= @ticket.subject
%div= @ticket.uid

%p= @ticket.body

%p= @ticket.reply
- if assigned_to_user? @ticket
  = render partial: 'reply_form', locals: { ticket: @ticket }

%h2= t 'ticket.table.state'
%div.dynamic-state{ data: {uid: @ticket.uid} }= @ticket.state

- @ticket.screenshots.each do |screenshot|
  = image_tag screenshot.image.url
